{% extends "base.html" %} {% block header-footer %} <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="fs-4 "><i class="bi bi-person-circle"></i>
            <span class="text-info">Add</span>user
        </h1> {{user}} <form action="" method="post"> {% csrf_token %} <div class="mb-3">
                <label for="first_name" class="col-form-label">First Name:</label>
                <input class="form-control" type="text" name="first_name" id="first_name" placeholder="First Name">
            </div>
            <div class="mb-3">
                <label for="last_name" class="col-form-label">Last Name:</label>
                <input class="form-control" type="text" name="last_name" id="last_name" placeholder="Last Name">
            </div>
            <div class="mb-3">
                <label for="email" class="col-form-label">Email:</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <label for="age" class="col-form-label">Age:</label>
                <input class="form-control" type="number" name="age" id="age" placeholder="Age">
            </div>
            <div class="mb-3">
                <!-- <label for="manager" class="col-form-label">Added by:</label> -->
                <input class="form-control" type="hidden" name="manager" id="manager" value="{{user}}">
            </div>
            <div class="">
                <button class="mt-3 btn btn-outline-info" type="submit">Add</button>
            </div>
        </form>
    </div>
</div> {% endblock header-footer %}